<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Taxpayer Application</display-name>
	<servlet>
		<servlet-name>TaxpayerServlet</servlet-name>
		<servlet-class>com.taxpayer.controller.TaxpayerController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TaxpayerServlet</servlet-name>
		<url-pattern>/taxpayer/submit</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>WEB-INF/index.jsp</welcome-file>
	</welcome-file-list>

</web-app> 